header {
  display: grid;
  grid-template-columns: 190px 1fr 250px;
  place-items: center;
  height: 40px;
  padding: 10px 0;
  background-color: $dark-gray;
  border-bottom: 1px solid $light-gray;
  font-size: 25px;
  .header__column {
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
    }
  }
  .header__column:last-child {
    :not(:last-child) {
      margin-right: 45px;
    }
  }
  .header__youtube-icon {
    color: $red;
    margin-right: 5px;
  }
  .header__youtube-title {
    font-weight: 600;
  }
  .header__search-form {
    display: flex;
    align-items: center;
    input[type="text"] {
      width: 500px;
      padding: 8px 6px;
      background-color: $bg-color;
      outline: none;
      border: 1px solid $light-gray;
      color: white;
      font-size: 16px;
      &:focus {
        border: 1px solid #1c62b9;
      }
    }
    button {
      all: unset;
      height: 36px;
      padding: 0 22px;
      background-color: $light-gray;
      font-size: 20px;
      cursor: pointer;
    }
  }
  .header__icon {
    font-size: 30px;
  }
}
