.header__column
  a(href="/")
    span.header__icon.header__youtube-icon
      i.fab.fa-youtube
    h1.header__youtube-title Youtube
.header__column
  form.header__search-form
    input(type="text" placeholder="검색")
    button
      i.fas.fa-search
.header__column
  a(href="/upload")
    span.header__icon
      i.fas.fa-video
  img(src="#")